/* html5doctor.com Reset Stylesheet v1.6.1 Last Updated:2010-09-17 Author:Richard Clark - http://richclarkdesign.com Twitter:@rich_clark*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video
{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
* {position:relative;} /*Position Relative ALL THE THINGS*/
body {line-height:1;}
article,aside,details,figcaption,figure, footer,header,hgroup,menu,nav,section {display:block;}
nav ul, nav li {list-style:none;margin:0;}/* Remove margins for navigation lists */
blockquote, q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after {content:'';content:none;}
a {margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;}
ins {background-color:#ff9;color:#000;text-decoration:none;}/* change colours to suit your needs */
mark {background-color:#ff9;color:#000;font-style:italic;font-weight:bold;}/* change colours to suit your needs */
del {text-decoration:line-through;}
abbr[title], dfn[title] {border-bottom:1px dotted;cursor:help;}
table {border-collapse:collapse;border-spacing:0;}
 hr {display:block;height:1px;border:0;border-top:1px solid #cccccc;margin:1em 0;padding:0;}/* change border colour to suit your needs */
input, select {vertical-align:middle;}
strong, th {font-weight:bold;}
em {font-style:italic;}
a img {border:none;} /* Gets rid of IE's blue borders */
html {overflow-y:scroll;-webkit-text-size-adjust:100%;-webkit-font-smoothing:antialiased;}
pre {white-space:pre;white-space:pre-wrap;word-wrap:break-word;padding:15px;}/* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
textarea {overflow:auto;vertical-align:text-top;resize:none;}/* 1) Remove default scrollbar in IE:www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ 2) Align to text-top */
input:valid, textarea:valid { }/* colors for form validity */
input:invalid, textarea:invalid {border-radius:1px;-moz-box-shadow:0px 0px 5px red;-webkit-box-shadow:0px 0px 5px red;box-shadow:0px 0px 5px red;}
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid {background-color:#f0dddd;}
label, input[type=button], input[type=submit], button {cursor:pointer;}/* hand cursor on clickable input elements */
button, input, select, textarea {width:auto;overflow:visible;margin:0;font-size:100%;font-family:sans-serif;vertical-align:baseline;}/* make buttons play nice in IE:www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
.ie7 img {-ms-interpolation-mode:bicubic;} /* bicubic resizing for non-native sized IMG: code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
ul, ol {margin-left:1.8em;}/*Thank you HTML5Boilerplate */
ol {list-style-type:decimal;} 
input[type="radio"] {vertical-align:text-bottom;}/* align checkboxes, radios, text inputs with their label by:Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="checkbox"] {vertical-align:bottom;}
.ie7 input[type="checkbox"] {vertical-align:baseline;}
.ie6 input {vertical-align:text-bottom;}