/*
Syntax error: Invalid CSS after "...hadow:none;  ": expected "{", was "}"
        on line 57 of /Users/admin/Desktop/My Github/WPST/sass/style.scss

Backtrace:
/Users/admin/Desktop/My Github/WPST/sass/style.scss:57
/Applications/compass.app/Contents/Resources/ruby/compass_common/sass-3.2.1/lib/sass/scss/parser.rb:1129:in `expected'
/Applications/compass.app/Contents/Resources/ruby/compass_common/sass-3.2.1/lib/sass/scss/parser.rb:1066:in `expected'
/Applications/compass.app/Contents/Resources/ruby/compass_common/sass-3.2.1/lib/sass/scss/parser.rb:1061:in `tok!'
/Applications/compass.app/Contents/Resources/ruby/compass_common/sass-3.2.1/lib/sass/scss/parser.rb:517:in `block'
/Applications/compass.app/Contents/Resources/ruby/compass_common/sass-3.2.1/lib/sass/scss/parser.rb:512:in `ruleset'
/Applications/compass.app/Contents/Resources/ruby/compass_common/sass-3.2.1/lib/sass/scss/parser.rb:574:in `declaration_or_ruleset'
org/jruby/RubyProc.java:270:in `call'
org/jruby/RubyProc.java:220:in `call'
/Applications/compass.app/Contents/Resources/ruby/compass_common/sass-3.2.1/lib/sass/scss/parser.rb:1104:in `rethrow'
/Applications/compass.app/Contents/Resources/ruby/compass_common/sass-3.2.1/lib/sass/scss/parser.rb:575:in `declaration_or_ruleset'
/Applications/compass.app/Contents/Resources/ruby/compass_common/sass-3.2.1/lib/sass/scss/parser.rb:537:in `block_child'
/Applications/compass.app/Contents/Resources/ruby/compass_common/sass-3.2.1/lib/sass/scss/parser.rb:529:in `block_contents'
/Applications/compass.app/Contents/Resources/ruby/compass_common/sass-3.2.1/lib/sass/scss/parser.rb:518:in `block'
/Applications/compass.app/Contents/Resources/ruby/compass_common/sass-3.2.1/lib/sass/scss/parser.rb:512:in `ruleset'
/Applications/compass.app/Contents/Resources/ruby/compass_common/sass-3.2.1/lib/sass/scss/parser.rb:536:in `block_child'
/Applications/compass.app/Contents/Resources/ruby/compass_common/sass-3.2.1/lib/sass/scss/parser.rb:529:in `block_contents'
/Applications/compass.app/Contents/Resources/ruby/compass_common/sass-3.2.1/lib/sass/scss/parser.rb:70:in `stylesheet'
/Applications/compass.app/Contents/Resources/ruby/compass_common/sass-3.2.1/lib/sass/scss/parser.rb:27:in `parse'
/Applications/compass.app/Contents/Resources/ruby/compass_common/sass-3.2.1/lib/sass/engine.rb:342:in `_to_tree'
/Applications/compass.app/Contents/Resources/ruby/compass_common/sass-3.2.1/lib/sass/engine.rb:315:in `_render'
/Applications/compass.app/Contents/Resources/ruby/compass_common/sass-3.2.1/lib/sass/engine.rb:262:in `render'
src/compass_patch.rb:124:in `compile'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
src/compass_patch.rb:123:in `compile'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/compass-0.12.2/lib/compass/logger.rb:45:in `red'
src/compass_patch.rb:122:in `compile'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:103:in `run'
org/jruby/RubyArray.java:1615:in `each'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:101:in `run'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/compass-0.12.2/lib/compass/commands/watch_project.rb:147:in `recompile'
org/jruby/RubyMethod.java:133:in `call'
org/jruby/RubyProc.java:270:in `call'
org/jruby/RubyProc.java:220:in `call'
/Applications/compass.app/Contents/Resources/ruby/jruby/fssm-0.2.9-tka-patched/lib/fssm/path.rb:73:in `run_callback'
/Applications/compass.app/Contents/Resources/ruby/jruby/fssm-0.2.9-tka-patched/lib/fssm/path.rb:55:in `callback_action'
/Applications/compass.app/Contents/Resources/ruby/jruby/fssm-0.2.9-tka-patched/lib/fssm/path.rb:35:in `update'
/Applications/compass.app/Contents/Resources/ruby/jruby/fssm-0.2.9-tka-patched/lib/fssm/state/directory.rb:39:in `modified'
org/jruby/RubyArray.java:1615:in `each'
/Applications/compass.app/Contents/Resources/ruby/jruby/fssm-0.2.9-tka-patched/lib/fssm/state/directory.rb:37:in `modified'
/Applications/compass.app/Contents/Resources/ruby/jruby/fssm-0.2.9-tka-patched/lib/fssm/state/directory.rb:18:in `refresh'
/Applications/compass.app/Contents/Resources/ruby/jruby/fssm-0.2.9-tka-patched/lib/fssm/backends/rbfsevent.rb:30:in `temporary_multipath_handler'
org/jruby/RubyArray.java:1615:in `each'
/Applications/compass.app/Contents/Resources/ruby/jruby/fssm-0.2.9-tka-patched/lib/fssm/backends/rbfsevent.rb:27:in `temporary_multipath_handler'
/Applications/compass.app/Contents/Resources/ruby/jruby/fssm-0.2.9-tka-patched/lib/fssm/backends/rbfsevent.rb:17:in `run'
org/jruby/RubyArray.java:1615:in `each'
/Applications/compass.app/Contents/Resources/ruby/jruby/fssm-0.2.9-tka-patched/lib/fssm/backends/rbfsevent.rb:16:in `run'
org/jruby/RubyProc.java:270:in `call'
org/jruby/RubyProc.java:220:in `call'
/Applications/compass.app/Contents/Resources/ruby/jruby/rb-fsevent-0.9.1-tka-patched/lib/rb-fsevent/fsevent.rb:44:in `run'
/Applications/compass.app/Contents/Resources/ruby/jruby/fssm-0.2.9-tka-patched/lib/fssm/backends/rbfsevent.rb:20:in `run'
/Applications/compass.app/Contents/Resources/ruby/jruby/fssm-0.2.9-tka-patched/lib/fssm/monitor.rb:26:in `run'
/Applications/compass.app/Contents/Resources/ruby/jruby/fssm-0.2.9-tka-patched/lib/fssm.rb:70:in `monitor'
src/compass_patch.rb:22:in `perform'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
src/ui/tray.rb:408:in `watch'
org/jruby/RubyProc.java:270:in `call'
org/jruby/RubyProc.java:224:in `call'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...hadow:none;  \": expected \"{\", was \"}\"\A         on line 57 of /Users/admin/Desktop/My Github/WPST/sass/style.scss"; }
