body{	
	padding: 20px;
}
form{
	width: 450px;
}
form > label, form > div{
	width: 50%;
	float: left;
	display:block;
	margin:15px 0 5px 0;
}
input,select, textarea{
	padding: 3px 5px;
	float:left;
	width: 200px;
}
input[type="submit"]{
	margin: 15px 0 0 50%
}
